<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% if @trainer == current_trainer %>
<%= button_to "Create a new pokemon", new_path, :class => "button medium", :method => :get %>
<% end %>
<p> Pokemons:
<% @trainer.pokemons.each do |pokemon| %>
<p><%= pokemon.name %> </p>
<p><%= pokemon.level %></p>
<p><%= pokemon.health %></p>
<%= button_to "Damage this Pokemon!", damage_path(id: pokemon.id), :class => "button medium", :method => :patch %> <br /></p>
<% end %>
